.header {
    background-color: #17072b;
    padding: 6px;
    text-align: center;
}


.footer {
    background-color: #f1f1f1;
    text-align: center;
    display: block;
    bottom:0;
    position: absolute;
    width: 98.7%;
    height: 1px;
    background-color: #8c15e9;
    padding:10px;
    padding-bottom: 40px;
    padding-top: 5px;
}

.column-side{
    position: absolute;
    right: 0px;
    background-color: #172d67;
    margin-top:-150px;
    width: 35%;
    height: 59%;
    display: inline-block;
    margin-top: -450px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 15px;
}

li {
    float: none;
    display: inline-block;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    width: 100px;
    display: block;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    text-align: left;
    width: 50%;
}

.image1{
display: inline;
margin-left: 25px
}

.image2{
display: inline;
margin-left: 5px;
}

.image3{
display: inline;
margin-left: 15px;
}


h1{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: underline;
    font-size: 50px;
}

h2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
text-decoration: underline;
margin-bottom: -5px;
margin-left: 15px;
}

h4{
font-family: Arial, Helvetica, sans-serif;
}

h5{
font-family: Arial, Helvetica, sans-serif;
color: white;
margin-left: 25px;
line-height: 40px;
font-size: 20px;
margin-top: -50px;

}

h6{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
text-decoration: underline;
font-size: 30px;
margin-left: 25px;
margin-top: 20px;
}

p{
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
margin-left: 15px;
}