/* the h1 styles the title*/
h1 { 
    background-color: rgba(140, 77, 77, 0.278);
    color:rgb(255, 255, 255);
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 30;
}

/* the h2 styles a title */
h2 {
    background-color: rgba(69, 55, 125, 0.278);
    color:rgb(255, 255, 255);
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 30;
}

/* center to center all of the items in the middle of the page*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-left: 10px solid rgb(183, 186, 86);
    border-top: 10px solid rgb(57, 59, 132);
    border-bottom: 10px solid rgb(149, 59, 58);
    border-right: 10px solid rgb(183, 186, 86);
}

/* the h3 styles the text that are placed on the body */
h3 {
    color:rgb(0, 0, 0);
    font-family: Times, Times New Roman, serif;
    font-size: 23px;
}

/* the h4 styles a title */
h4 {
    background-color: rgba(145, 149, 68, 0.278);
    color:rgb(255, 255, 255);
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    letter-spacing: 3px;
    font-size: 35px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    padding: 30;
}

/* used container as a class to position the list in the center*/
.container {
    text-align: center;
}

/* used to style the list*/
ol {
    background: hsl(36, 35%, 65%);
    display:inline-block;
    margin: 5px;
    padding: 20px;
}

/* used to style the list*/
ol li {
    background: hsl(36, 35%, 65%);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

/* used to style the list*/
ul.a {
    background: hsl(36, 35%, 65%);
    display:inline-block;
    margin: 5px;
    padding: 20px;
}

/* used to style the list*/
ul li {
    background: hsl(36, 35%, 65%);
    color: rgb(0, 0, 0);
    margin: 5px;
}